// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map-container {
  position: relative;
}
.map {
  height: 480px;
  width: 40%;
  float: right;
}

li.bench-name {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
  text-align: center;
}

.bench-item {
  border: 1px solid lightgray;
  height: 240px;
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-left: 30px;
  padding: 15px 15px 15px 15px;
  list-style: none;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.add-bench-button {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 30px;
  color: #009966;
  background-color: white;
  line-height: 30px;
  text-align: center;
  font-wight: bold;
  font-family: Oxygen;
  border-radius: 5px;
}

.bench-form{
  font-family: Oxygen;
  font-size: 14px;
  padding: 10px 10px 10px 10px;
  background-color: white;
  opacity: 0.9;
  width: 40%;
  height: 160px;
  position: absolute;
  right: 0px;
  z-index: 1;
  line-height: 22px;
  // float: right;
}
.bench-form-title{
  font-family: Oxygen;
  font-size: 14px;
  font-wight: bold;
  margin: 5px 0px 5px 0px;
}

textarea {
  width: 70%;
  height: 40px;
  resize: none;
}

// .div-index:last-child {
//   border-bottom: 1px solid lightgray;
// }
// .div-index:first-child {
//   border-top: 0px solid lightgray;
// }

.bench-index {
  width: 60%;
  height: 500px;
  overflow-y: scroll;
  float: left;
  border: 1px solid lightgray;
  font-family: Oxygen;
  color: #505050;
  box-sizing: border-box;
  // padding: 50px;
}
